.nav-div{
    width: 100%;
}
.ul-item{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F5F5F5;
}
.li-item{
    float: left;
}
.li-item, .link-a{
    display: block;
    color: #000000;
    text-align: center;
    padding: 13px 13px;
    text-decoration: none;
}